.cta {
  @apply bg-no-repeat;
  background-image: url('../../images/images/img-grid.svg');
  background-position: calc(100% + 590px) top;
  padding: theme('space.5') 0;
}

.cta__illustration {
  display: none;
}

.cta p {
  margin-top: theme('space.1');
  margin-bottom: theme('space.4');
}

@screen lg {
  .cta {
    background-position: calc(100%) 50%;
  }

  .cta .constraint {
    @apply flex;
    @apply justify-between;
  }

  .cta .constraint > div {
    @apply w-5/12;
  }

  .cta__illustration {
    display: block;
  }
}