.neurabot-story {
  margin-top: theme('space.4');
  @apply relative
}

.neurabot-story::after {
  @apply absolute;
  @apply block;
  content: '';
  width: 0;
}

.neurabot-story:hover{
  color: theme('colors.orange.dark');
  @apply no-underline;
}

.neurabot-story:hover::after{
  transition: width 0.3s ease-in;
  @apply w-full;
  border-bottom: 1px solid theme('colors.orange.dark');
  bottom: -5px;
}

.slide-preview {
  margin-top: theme('space.6');
}

.slide-preview li {
  margin-top: 15px;
  flex: 1 0 100%;
}

.story-timeline .story {
  margin: theme('space.10') 0;
}

@screen md {
  .slide-preview li {
    margin-top: 29.5px;
  }
}

@screen lg {
  .story {
    @apply flex;
    @apply justify-between;
  }

  .story--reverse {
    @apply flex-row-reverse;
  }

  .story-brief {
    @apply w-1/3;
  }

  .slide-preview {
    @apply w-7/12;
    @apply mt-0;
  }

  .slide-preview li {
    margin-top: 33.5px;
  }

  .isuk-neurabot {
    @apply w-5/12;
  }
}