.button {
  @apply text-sm;
  @apply tracking-wide;
  @apply uppercase;
  @apply no-underline;
  @apply font-bold;
  @apply h-12;
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply rounded;
  padding: 0 theme('space.3');
  margin: theme('space.1') 0;
  background-color: theme('colors.orange.brand');
  color: theme('colors.white');
}

.button:hover {
  transition: all 0.3s ease-in;
  background-color: theme('colors.orange.dark');
  box-shadow: theme('shadow.default');
}

.button--flat {
  @apply font-normal;
  background-color: transparent;
  color: theme('colors.orange.medium');
}

.button--flat:hover {
  @apply underline;
  box-shadow: none;
  background-color: transparent;
  color: theme('colors.orange.dark');
}

.button--neurabot {
  background-color: theme('colors.brand.neurabot');
}

.button--inline {
  @apply p-0;
  @apply h-auto;
  @apply justify-start;
}

@screen md {
  .button {
    @apply inline-flex;
  }
}