.commend__list {
  @apply flex;
  @apply flex-col;
  @apply reset-list;
  margin: theme('space.4') -10px;
  border-color: theme('colors.orange.dark');
}

.commend__item {
  @apply bg-no-repeat;
  padding: theme('space.5');
  background-image: url('../../images/images/img-line-horizontal.svg'),
    url('../../images/images/img-line-vertical.svg'),
    url('../../images/images/img-line-horizontal.svg'),
    url('../../images/images/img-line-vertical.svg'),
    url('../../images/images/img-quote.svg');
  background-position: 0px 20px, calc(100% - 20px) 15px, calc(100% + 10px) calc(100% - 20px), 20px 0, 50px 50px;
}

.commend__item .commend__msg {
  line-height: theme('lineHeight.relaxed');
  min-height: 200px;
  margin-top: theme('space.5');
  margin-bottom: theme('space.4');
  color: theme('colors.black');
}

.commend__item .commend__author {
  @apply font-bold;
  @apply m-0;
  color: theme('colors.orange.dark');
}

.commend__item .commend__company {
  @apply m-0;
  @apply text-sm;
  color: theme('colors.gray.medium');
}

.commend__item img {
  @apply block;
  margin-bottom: theme('space.1');
  width: 48px;
  height: 48px;
}

.single-commend {
  padding: 0 0 theme('space.10');
}

.single-commend .constraint {
  @apply flex;
  @apply flex-row-reverse;
  @apply justify-between;
  @apply items-center;
}

@screen md {
  .commend__item .commend__msg {
    min-height: theme('space.9')
  }
}

@screen lg {
  .commend__list {
    @apply flex-row;
    padding: 0 theme('space.1')
  }
  .commend__item .commend__msg {
    min-height: 200px;
  }
  .commend__item {
    @apply w-1/3;
    margin: 0 theme('space.2');
    background-position: 0px 20px, calc(100% - 20px) 15px, calc(100%) calc(100% - 20px), 20px 0, 50px 50px;
  }
  
  .single-commend {
    @apply bg-no-repeat;
    background-image: url('../../images/images/img-grid-flip.svg');
    background-position: 0 top;
  }
}