.slide-preview {
  @apply relative;
}
.slide-preview ul {
  @apply reset-list;
  z-index: 1;
}

.slide-preview img {
  @apply w-full;
  @apply block;
  max-width: 100%;
}

.slide-bg {
  @apply absolute;
  @apply top-0;
  @apply left-0;
  box-shadow: theme('shadow.default');
}

/* purgecss start ignore */

ul.slick-dots{
  @apply m-0;
  position: relative;
}

.slick-dots li{
  @apply rounded-full;
  margin: 2.5px;
  width: theme('space.1');
  height: theme('space.1');
  background-color: theme('colors.gray.light');
}

.slick-dots li.slick-active{
  background-color: theme('colors.orange.medium');
}

.slick-dots li button{
  padding: 0;
  width: theme('space.1');
  height: theme('space.1');
}

.slick-dots li button::before {
  content:none;
}

/* Lightbox */

.slick-lightbox .slick-arrow::before,
.slick-lightbox .slick-arrow::after {
  content: none;
}

.slick-lightbox-slick-caption {
  @apply italic;
  @apply block;
  margin-top: theme('space.1');
}

@screen md {
  .slick-lightbox .slick-arrow {
    height: 24px;
    width: 24px;
    z-index: 1;
  }

  .slick-lightbox .slick-prev::before {
    content: url("../../images/icons/icon-prev.svg");
  }
  .slick-lightbox .slick-next::after {
    content: url("../../images/icons/icon-next.svg");
  }
}

/* purgecss end ignore */

